<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AKCloudContainer</key>
	<string>iCloud.AKDataSync.anobisoft.com</string>
	<key>AKCloudRealModificationDateFieldName</key>
	<string>realModificationDate</string>
	<key>AKCloudDeviceRecordType</key>
	<string>AKDevice</string>
	<key>AKCloudDeletionInfoRecordType</key>
	<string>AKDeletionInfo</string>
	<key>AKCloudDeletionInfo_deviceIDFieldName</key>
	<string>AKDI_deviceID</string>
	<key>AKCloudDeletionInfo_recordIDFieldName</key>
	<string>AKDI_recordID</string>
	<key>AKCloudDeletionInfo_recordTypeFieldName</key>
	<string>AKDI_recordType</string>
	<key>AKCloudInitTimeout</key>
	<integer>30</integer>
	<key>AKCloudTryToPushTimeout</key>
	<integer>60</integer>
	<key>AKCloudSmartReplicationTimeout</key>
	<integer>180</integer>
</dict>
</plist>
